<ns-action-bar text="Product List" showBackButton="true"></ns-action-bar>

<GridLayout class="page__content">
  <!-- <ActivityIndicator [busy]="isBusy">
  </ActivityIndicator> -->
  
  <GridLayout rows="50%, 50%">
    <GridLayout row="0" columns="90, *" height="120">
        <!-- <StackLayout col="0">
            <Image [src]="product.image"></Image>
            <Label text="More" textDecoration="underline" color="blue"></Label>
        </StackLayout> -->
        <!-- <StackLayout col="1">
            <Label [text]="product.name" textWrap="true"></Label> -->
            <!-- <Label 
              [text]="product.onSale ? '$ '+product.salePrice : '$ '+product.regularPrice" 
              [ngStyle]="{ 'color': product.onSale ? 'red' : 'black' }"></Label> -->
            <!-- <Label 
              *ngIf="product.customerReviewAverage" 
              [text]="'Avg review: '+product.customerReviewAverage"></Label> -->
              
              
              <!-- <Image *ngIf="product.customerReviewAverage" [src]="starReviewAverage(product.customerReviewAverage)"></Image> -->
              
        <!-- </StackLayout> -->
    </GridLayout>
  </GridLayout>
  
  
</GridLayout>
